{% extends 'base.html' %}

{% block content %}

<div class="container text-center mt-5">

    <h1 class="display-3 fw-bold">
        Babysitter Booking Platform
    </h1>

    <p class="lead mt-3">
        Find trusted, experienced and verified babysitters for your children.
    </p>

    <div class="mt-4">
        <a href="/register/" class="btn btn-primary btn-lg me-2">
            Register
        </a>

        <a href="/login/" class="btn btn-outline-success btn-lg">
            Login
        </a>
    </div>

</div>

{% endblock %}